/* latin-ext */
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/site-media/c1779c3a720f1c75.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/site-media/5d0827fed2300c63.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/site-media/cf1b33b51001bcc8.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/site-media/107427d53f1cf768.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/site-media/e48f278c7d1d6a4c.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/site-media/632cc8e861c5a9bb.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/site-media/7a53b5d71d167739.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/site-media/76bb977b8e134e84.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/site-media/4b0c2d7858671da2.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/site-media/4c574b525e600770.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/site-media/3bc24114c16a0607.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/site-media/b4f6cead3829a109.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/site-media/318eceec93998e98.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/site-media/e16f53911c054e22.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/site-media/4478f34ea2daee4c.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/site-media/c31cf3431d9d2baf.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/site-media/2ac8f3b56e2e829d.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/site-media/ad92698ac9504d8c.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/site-media/a374309800440835.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/site-media/40ad082fa8f36c38.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.x{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);margin:0;box-sizing:border-box}.x *,.x :after,.x :before{box-sizing:inherit}.x-el a[href^="mailto:"]:not(.x-el),.x-el a[href^="tel:"]:not(.x-el){color:inherit;font-size:inherit;text-decoration:inherit}.x-el-article,.x-el-aside,.x-el-details,.x-el-figcaption,.x-el-figure,.x-el-footer,.x-el-header,.x-el-hgroup,.x-el-main,.x-el-menu,.x-el-nav,.x-el-section,.x-el-summary{display:block}.x-el-audio,.x-el-canvas,.x-el-progress,.x-el-video{display:inline-block;vertical-align:baseline}.x-el-audio:not([controls]){display:none;height:0}.x-el-template{display:none}.x-el-a{background-color:transparent;color:inherit}.x-el-a:active,.x-el-a:hover{outline:0}.x-el-abbr[title]{border-bottom:1px dotted}.x-el-b,.x-el-strong{font-weight:700}.x-el-dfn{font-style:italic}.x-el-mark{background:#ff0;color:#000}.x-el-small{font-size:80%}.x-el-sub,.x-el-sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}.x-el-sup{top:-.5em}.x-el-sub{bottom:-.25em}.x-el-img{vertical-align:middle;border:0}.x-el-svg:not(:root){overflow:hidden}.x-el-figure{margin:0}.x-el-hr{box-sizing:content-box;height:0}.x-el-pre{overflow:auto}.x-el-code,.x-el-kbd,.x-el-pre,.x-el-samp{font-family:monospace,monospace;font-size:1em}.x-el-button,.x-el-input,.x-el-optgroup,.x-el-select,.x-el-textarea{color:inherit;font:inherit;margin:0}.x-el-button{overflow:visible}.x-el-button,.x-el-select{text-transform:none}.x-el-button,.x-el-input[type=button],.x-el-input[type=reset],.x-el-input[type=submit]{-webkit-appearance:button;cursor:pointer}.x-el-button[disabled],.x-el-input[disabled]{cursor:default}.x-el-button::-moz-focus-inner,.x-el-input::-moz-focus-inner{border:0;padding:0}.x-el-input{line-height:normal}.x-el-input[type=checkbox],.x-el-input[type=radio]{box-sizing:border-box;padding:0}.x-el-input[type=number]::-webkit-inner-spin-button,.x-el-input[type=number]::-webkit-outer-spin-button{height:auto}.x-el-input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}.x-el-input[type=search]::-webkit-search-cancel-button,.x-el-input[type=search]::-webkit-search-decoration{-webkit-appearance:none}.x-el-textarea{border:0}.x-el-fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}.x-el-legend{border:0;padding:0}.x-el-textarea{overflow:auto}.x-el-optgroup{font-weight:700}.x-el-table{border-collapse:collapse;border-spacing:0}.x-el-td,.x-el-th{padding:0}.x{-webkit-font-smoothing:antialiased}.x-el-hr{border:0}.x-el-fieldset,.x-el-input,.x-el-select,.x-el-textarea{margin-top:0;margin-bottom:0}.x-el-fieldset,.x-el-input[type=email],.x-el-input[type=text],.x-el-textarea{width:100%}.x-el-input,.x-el-label{vertical-align:middle}.x-el-input{border-style:none;padding:.5em}.x-el-select:not([multiple]){vertical-align:middle}.x-el-textarea{line-height:1.75;padding:.5em}.x-el.d-none{display:none!important}.sideline-footer{margin-top:auto}.disable-scroll{touch-action:none;overflow:hidden;position:fixed;max-width:100vw}@keyframes loaderscale{0%{transform:scale(1);opacity:1}45%{transform:scale(.1);opacity:.7}80%{transform:scale(1);opacity:1}}.x-loader svg{display:inline-block}.x-loader svg:first-child{animation:loaderscale .75s cubic-bezier(.2,.68,.18,1.08) -.24s infinite}.x-loader svg:nth-child(2){animation:loaderscale .75s cubic-bezier(.2,.68,.18,1.08) -.12s infinite}.x-loader svg:nth-child(3){animation:loaderscale .75s cubic-bezier(.2,.68,.18,1.08) 0s infinite}.x-icon>svg{transition:transform .33s ease-in-out}.x-icon>svg.rotate-90{transform:rotate(-90deg)}.x-icon>svg.rotate90{transform:rotate(90deg)}.x-icon>svg.rotate-180{transform:rotate(-180deg)}.x-icon>svg.rotate180{transform:rotate(180deg)}.x-rt ol,.x-rt ul{text-align:left}.x-rt p{margin:0}.mte-inline-block{display:inline-block}@media only screen and (min-device-width:1025px){:root select,_::-webkit-full-page-media,_:future{font-family:sans-serif!important}}

/*
Copyright (c) 2009 Dave Crossland <dave@lab6.com>

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at: http://scripts.sil.org/OFL

—————————————————————————————-
SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007
—————————————————————————————-
*/

/*
Copyright 2014-2017 Indian Type Foundry (info@indiantypefoundry.com)

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at: http://scripts.sil.org/OFL

—————————————————————————————-
SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007
—————————————————————————————-
*/

.x .c1-1{letter-spacing:normal}.x .c1-2{text-transform:none}.x .c1-3{background-color:rgb(255, 255, 255)}.x .c1-4{width:100%}.x .c1-5 > div{position:relative}.x .c1-6 > div{overflow:hidden}.x .c1-7 > div{margin-top:auto}.x .c1-8 > div{margin-right:auto}.x .c1-9 > div{margin-bottom:auto}.x .c1-a > div{margin-left:auto}.x .c1-b{font-family:'Poppins', arial, sans-serif}.x .c1-c{font-size:16px}.x .c1-h{padding-top:40px}.x .c1-i{padding-bottom:40px}.x .c1-j{padding:0 !important}.x .c1-k:before{content:""}.x .c1-l:before{display:table}.x .c1-m:before{clear:both}.x .c1-n:after{content:""}.x .c1-o:after{display:table}.x .c1-p:after{clear:both}.x .c1-s{position:relative}.x .c1-t{margin-bottom:24px}.x .c1-v{margin-left:auto}.x .c1-w{margin-right:auto}.x .c1-x{padding-left:24px}.x .c1-y{padding-right:24px}.x .c1-z{max-width:100%}.x .c1-14{display:none}.x .c1-16{padding-top:32px}.x .c1-17{padding-bottom:32px}.x .c1-18{flex:1}.x .c1-19{display:flex}.x .c1-1a{justify-content:space-between}.x .c1-1b{align-items:center}.x .c1-1c{padding-top:24px}.x .c1-1d{justify-content:flex-start}.x .c1-1e{width:30%}.x .c1-1f{justify-content:center}.x .c1-1g{text-align:center}.x .c1-1h{width:40%}.x .c1-1i{text-transform:unset}.x .c1-1j{font-weight:400}.x .c1-1k{display:inline-block}.x .c1-1l{font-family:'Cantarell', Arial, sans-serif}.x .c1-1q{letter-spacing:inherit}.x .c1-1r{text-transform:inherit}.x .c1-1s{text-decoration:none}.x .c1-1t{word-wrap:break-word}.x .c1-1u{overflow-wrap:break-word}.x .c1-1v{display:inline}.x .c1-1w{cursor:pointer}.x .c1-1x{border-top:0px}.x .c1-1y{border-right:0px}.x .c1-1z{border-bottom:0px}.x .c1-20{border-left:0px}.x .c1-21{color:rgb(176, 88, 49)}.x .c1-22{font-weight:inherit}.x .c1-23:hover{color:rgb(106, 47, 0)}.x .c1-24:active{color:rgb(72, 30, 0)}.x .c1-25{line-height:1}.x .c1-26{margin-top:0}.x .c1-27{margin-bottom:0}.x .c1-28{padding-top:8px}.x .c1-29{padding-bottom:8px}.x .c1-2a{padding-left:16px}.x .c1-2b{padding-right:16px}.x .c1-2c{width:fit-content}.x .c1-2d{border-style:solid}.x .c1-2e{border-color:rgb(21, 21, 21)}.x .c1-2f{border-top-width:1px}.x .c1-2g{border-right-width:1px}.x .c1-2h{border-bottom-width:1px}.x .c1-2i{border-left-width:1px}.x .c1-2j{color:rgb(21, 21, 21)}.x .c1-2k{font-size:28px}.x .c1-2q{word-wrap:normal !important}.x .c1-2r{overflow-wrap:normal !important}.x .c1-2s{width:auto}.x .c1-2t{visibility:hidden}.x .c1-2u{position:absolute}.x .c1-2v{overflow:visible}.x .c1-2w{left:0px}.x .c1-2x{justify-content:flex-end}.x .c1-2y{line-height:0}.x .c1-31{width:40px}.x .c1-32{z-index:0}.x .c1-33{right:0px}.x .c1-34{top:50%}.x .c1-35{padding-top:0px}.x .c1-36{padding-bottom:0px}.x .c1-37{background-color:transparent}.x .c1-38{transform:translateY(-50%)}.x .c1-39{color:rgb(230, 111, 0)}.x .c1-3a{vertical-align:middle}.x .c1-3b{padding-top:6px}.x .c1-3c{padding-right:6px}.x .c1-3d{padding-bottom:6px}.x .c1-3e{padding-left:6px}.x .c1-3f{left:0px}.x .c1-3g{top:calc(50%)}.x .c1-3l{color:rgb(218, 105, 0)}.x .c1-3m{line-height:1.3em}.x .c1-3n{font-style:normal}.x .c1-3o{right:16px}.x .c1-3p{top:16px}.x .c1-3q{margin-left:24px}.x .c1-3r:hover{color:rgb(21, 21, 21)}.x .c1-3w{font-size:12px}.x .c1-41{transition:}.x .c1-42{transform:}.x .c1-43{padding-top:16px}.x .c1-44{padding-bottom:16px}.x .c1-45{border-radius:0px}.x .c1-46{box-shadow:0 3px 6px 3px rgba(0, 0, 0, 0.16)}.x .c1-47{top:initial}.x .c1-48{white-space:nowrap}.x .c1-49{max-height:none}.x .c1-4a{overflow-y:auto}.x .c1-4b{z-index:1003}.x .c1-4c{width:240px}.x .c1-4f{color:inherit !important}.x .c1-4g{margin-bottom:16px}.x .c1-4h{display:block}.x .c1-4i{text-align:left}.x .c1-4j{padding-right:8px}.x .c1-4k{padding-left:8px}.x .c1-4l:last-child{margin-bottom:0}.x .c1-4m{color:rgb(94, 94, 94)}.x .c1-4n{border-color:rgb(226, 226, 226)}.x .c1-4o{margin-top:16px}.x .c1-4p{line-height:1.5}.x .c1-4q{text-wrap:pretty}.x .c1-4r dropdown{position:absolute}.x .c1-4s dropdown{right:0px}.x .c1-4t dropdown{top:initial}.x .c1-4u dropdown{white-space:nowrap}.x .c1-4v dropdown{max-height:none}.x .c1-4w dropdown{overflow-y:auto}.x .c1-4x dropdown{display:none}.x .c1-4y dropdown{z-index:1003}.x .c1-4z dropdown{width:240px}.x .c1-52 listItem{display:block}.x .c1-53 listItem{text-align:left}.x .c1-54 listItem{margin-bottom:0}.x .c1-55 separator{margin-top:16px}.x .c1-56 separator{margin-bottom:16px}.x .c1-57{font-weight:600}.x .c1-58{padding-bottom:24px}.x .c1-59{line-height:24px}.x .c1-5a{margin-left:0}.x .c1-5b{margin-right:0}.x .c1-5c{-webkit-margin-before:0}.x .c1-5d{-webkit-margin-after:0}.x .c1-5e{-webkit-padding-start:0}.x .c1-5f{padding-right:0}.x .c1-5g{padding-left:0}.x .c1-5h{color:rgb(87, 87, 87)}.x .c1-5i{margin-bottom:none}.x .c1-5j{list-style:none}.x .c1-5k{vertical-align:top}.x .c1-5l{padding-left:32px}.x .c1-5m:first-child{margin-left:0}.x .c1-5n:first-child{padding-left:0}.x .c1-5o{letter-spacing:0.214em}.x .c1-5p{text-transform:uppercase}.x .c1-5q{margin-bottom:-5px}.x .c1-5r{font-size:14px}.x .c1-5s{border-bottom:1px solid}.x .c1-5t{border-color:rgb(218, 105, 0)}.x .c1-5u{padding-bottom:4px}.x .c1-5v:hover{color:rgb(176, 88, 49)}.x .c1-5w:active{color:rgb(21, 21, 21)}.x .c1-61{margin-left:-6px}.x .c1-62{margin-right:-6px}.x .c1-63{margin-top:-6px}.x .c1-64{margin-bottom:-6px}.x .c1-65{color:inherit}.x .c1-66{transition:transform .33s ease-in-out}.x .c1-67{transform:rotate(0deg)}.x .c1-68{top:32px}.x .c1-69{max-height:45vh}.x .c1-6a{margin-bottom:8px}.x .c1-6b{margin-top:8px}.x .c1-6c{color:rgb(27, 27, 27)}.x .c1-6d{border-color:rgb(230, 111, 0)}.x .c1-6e:hover{color:rgb(178, 96, 59)}.x .c1-6f:active{color:rgb(27, 27, 27)}.x .c1-6h{width:15%}.x .c1-6i{}.x .c1-6j{width:70%}.x .c1-6l{background-color:rgb(255, 241, 237)}.x .c1-6m{position:fixed}.x .c1-6n{top:0px}.x .c1-6o{height:100%}.x .c1-6p{z-index:10002}.x .c1-6q{padding-top:56px}.x .c1-6r{-webkit-overflow-scrolling:touch}.x .c1-6s{transform:translateX(-249vw)}.x .c1-6t{overscroll-behavior:contain}.x .c1-6u{box-shadow:0 2px 6px 0px rgba(0,0,0,0.2)}.x .c1-6v{transition:transform .3s ease-in-out}.x .c1-6w{overflow:hidden}.x .c1-6x{flex-direction:column}.x .c1-6y{text-shadow:none}.x .c1-6z{color:black}.x .c1-70{top:15px}.x .c1-71{right:15px}.x .c1-72{padding-right:32px}.x .c1-73{overflow-x:hidden}.x .c1-74{overscroll-behavior:none}.x .c1-75{margin-bottom:32px}.x .c1-76 > :not(:first-child){margin-top:16px}.x .c1-77{border-color:rgba(185, 185, 185, 0.5)}.x .c1-78{border-bottom-width:0px}.x .c1-79{border-bottom-style:solid}.x .c1-7a:last-child{border-bottom:0}.x .c1-7b{letter-spacing:0.136em}.x .c1-7c{min-width:200px}.x .c1-7d{font-size:22px}.x .c1-7e:active{color:rgb(178, 96, 59)}.x .c1-7k{height:auto}.x .c1-7l{background-color:rgba(255, 150, 101, 0.1)}.x .c1-7s{background-color:rgba(255, 255, 255, 0.15)}.x .c1-7t{border-top-width:0}.x .c1-7u{border-right-width:0}.x .c1-7v{border-left-width:0}.x .c1-7w{padding-left:40px}.x .c1-7x{padding-right:40px}.x .c1-7y::placeholder{color:inherit}.x .c1-7z:focus{outline:none}.x .c1-80:focus{box-shadow:inset 0 0 0 1px currentColor}.x .c1-81::-webkit-input-placeholder{color:inherit}.x .c1-88{cursor:auto}.x .c1-8d{border-width:0 !important}.x .c1-8e{aspect-ratio:1 / 1}.x .c1-8f{border-radius:0px !important}.x .c1-8j{flex-grow:1}.x .c1-8k{padding-bottom:56px}.x .c1-8v{max-width:750px}.x .c1-8w{width:inherit}.x .c1-8x{line-height:1.2}.x .c1-8y{white-space:pre-line}.x .c1-8z{font-size:32px}.x .c1-94 > p{margin-top:0}.x .c1-95 > p{margin-right:0}.x .c1-96 > p{margin-bottom:0}.x .c1-97 > p{margin-left:0}.x .c1-98{font-size:inherit !important}.x .c1-99{line-height:inherit}.x .c1-9a{font-style:italic}.x .c1-9b{text-decoration:line-through}.x .c1-9c{text-decoration:underline}.x .c1-9d{flex-wrap:wrap}.x .c1-9e{column-gap:24px}.x .c1-9f{row-gap:24px}.x .c1-9h{transition:all 0.3s}.x .c1-9i{border-style:none}.x .c1-9j{display:inline-flex}.x .c1-9k{min-height:56px}.x .c1-9l{color:rgb(0, 0, 0)}.x .c1-9m{background-color:rgb(255, 154, 109)}.x .c1-9n:hover{background-color:rgb(254, 189, 167)}.x .c1-9q{box-sizing:border-box}.x .c1-9r{flex-direction:row}.x .c1-9s{margin-right:-12px}.x .c1-9t{margin-bottom:-24px}.x .c1-9u{margin-left:-12px}.x .c1-9z{flex-shrink:1}.x .c1-a0{flex-basis:100%}.x .c1-a1{padding-right:12px}.x .c1-a2{padding-bottom:48px}.x .c1-a3{padding-left:12px}.x .c1-ac > *{max-width:100%}.x .c1-ad > :nth-child(n){margin-bottom:24px}.x .c1-ae  > :last-child{margin-bottom:0 !important}.x .c1-ah{line-height:1.25}.x .c1-ai{color:rgb(219, 122, 79)}.x .c1-aj > p > ol{text-align:left}.x .c1-ak > p > ol{display:block}.x .c1-al > p > ol{padding-left:1.3em}.x .c1-am > p > ol{margin-left:16px}.x .c1-an > p > ol{margin-right:16px}.x .c1-ao > p > ol{margin-top:auto}.x .c1-ap > p > ol{margin-bottom:auto}.x .c1-aq > p > ol{text-wrap:pretty}.x .c1-ar > p > ul{text-align:left}.x .c1-as > p > ul{display:block}.x .c1-at > p > ul{padding-left:1.3em}.x .c1-au > p > ul{margin-left:16px}.x .c1-av > p > ul{margin-right:16px}.x .c1-aw > p > ul{margin-top:auto}.x .c1-ax > p > ul{margin-bottom:auto}.x .c1-ay > p > ul{text-wrap:pretty}.x .c1-az > ul{text-align:left}.x .c1-b0 > ul{display:block}.x .c1-b1 > ul{padding-left:1.3em}.x .c1-b2 > ul{margin-left:16px}.x .c1-b3 > ul{margin-right:16px}.x .c1-b4 > ul{margin-top:auto}.x .c1-b5 > ul{margin-bottom:auto}.x .c1-b6 > ul{text-wrap:pretty}.x .c1-b7 > ol{text-align:left}.x .c1-b8 > ol{display:block}.x .c1-b9 > ol{padding-left:1.3em}.x .c1-ba > ol{margin-left:16px}.x .c1-bb > ol{margin-right:16px}.x .c1-bc > ol{margin-top:auto}.x .c1-bd > ol{margin-bottom:auto}.x .c1-be > ol{text-wrap:pretty}.x .c1-bi{letter-spacing:0.125em}.x .c1-bj{line-height:1.4}.x .c1-bk{color:rgb(178, 96, 59)}.x .c1-bm{font-size:unset}.x .c1-bn{font-family:unset}.x .c1-bo{letter-spacing:unset}.x .c1-bp{color:white}.x .c1-bq{z-index:1}.x .c1-br{height:70px}.x .c1-bs{width:50px}.x .c1-bt{background:rgba(0, 0, 0, 0.5)}.x .c1-bu{outline:none}.x .c1-bv{right:0px}.x .c1-bw{opacity:0}.x .c1-bx{transition:opacity 0.5s}.x .c1-by:hover{opacity:1}.x .c1-bz{color:rgb(255, 255, 255)}.x .c1-c0{background-color:rgba(22, 22, 22, 0.25)}.x .c1-c1{margin-top:300px}.x .c1-c2:hover{background-color:rgba(22, 22, 22, 0.5)}.x .c1-c3:active{background-color:rgba(22, 22, 22, 0.5)}.x .c1-c8{flex-basis:auto}.x .c1-c9{margin-top:4px}.x .c1-ca{color:rgb(89, 89, 89)}.x .c1-cb{margin-top:40px}.x .c1-cc{max-width:none}.x .c1-ce{max-width:360px}.x .c1-cf{display:table}.x .c1-cg{aspect-ratio:1.33}.x .c1-cj{margin-top:32px}.x .c1-cp{letter-spacing:0.045em}.x .c1-cq{padding-top:.3em}.x .c1-cv{margin-bottom:40px}.x .c1-cy{flex-basis:83.33333333333334%}.x .c1-cz{max-width:83.33333333333334%}.x .c1-d0{margin-left:8.333333333333332%}.x .c1-d1{margin-top:72px}.x .c1-d3 > div{padding-left:24px}.x .c1-d4 > div{padding-right:24px}.x .c1-d9{min-height:300px}.x .c1-de{flex-shrink:0}.x .c1-dm{max-width:100% !important}.x .c1-du:hover{color:rgb(116, 53, 0)}.x .c1-dv:active{color:rgb(82, 35, 0)}.x .c1-dx{margin-top:24px}.x .c1-dy:hover{background-color:rgb(255, 193, 173)}.x .c1-dz{height:inherit}.x .c1-e0{z-index:2}.x .c1-e1{transform:translate3d(-120%,0,0)}.x .c1-e2{transition:transform .8s ease, opacity .1s}.x .c1-e3{align-items:flex-start}.x .c1-e4{max-width:600px}.x .c1-e5{padding-top:23px}.x .c1-e6:focus + label{font-size:12px}.x .c1-e7:focus + label{top:8px}.x .c1-e8:focus + label{color:rgb(178, 96, 59)}.x .c1-e9:not([value=""]) + label{font-size:12px}.x .c1-ea:not([value=""]) + label{top:8px}.x .c1-eb:not([value=""]) + label{color:rgb(178, 96, 59)}.x .c1-ec{top:30%}.x .c1-ed{left:8px}.x .c1-ee{transition:all .15s ease}.x .c1-ef{pointer-events:none}.x .c1-eg{border-top-width:1px}.x .c1-eh{border-right-width:1px}.x .c1-ei{border-left-width:1px}.x .c1-ej{border-radius:3px}.x .c1-ek{resize:vertical}.x .c1-el{-webkit-appearance:none !important}.x .c1-em > :nth-child(2){margin-left:.25em}.x .c1-en:hover{cursor:pointer}.x .c1-eq{min-height:inherit}.x .c1-er > *{flex-grow:1}.x .c1-es > *{min-height:inherit}.x .c1-et{order:initial}.x .c1-ey{bottom:0px}.x .c1-ez{position:absolute !important}.x .c1-f0{transform:translate3d(0,0,0)}.x .c1-f1{left:56px}.x .c1-f2{top:8px}.x .c1-f3{padding-top:4px}.x .c1-f4{min-height:40px}.x .c1-f8{margin-left:-4px}.x .c1-f9{width:18px}.x .c1-fa{height:18px}.x .c1-fb{right:auto}.x .c1-fc > img{display:block}.x .c1-fd{margin-left:calc(18px + 8px)}.x .c1-fe{padding-left:none}.x .c1-ff{padding-right:none}.x .c1-fg{row-gap:0px}.x .c1-fh{column-gap:0px}.x .c1-fi [data-typography]{color:inherit}.x .c1-fj{margin-left:8px}.x .c1-fk{margin-right:8px}.x .c1-ft{top:0px}.x .c1-fu{bottom:0px}.x .c1-fv{min-height:100px}.x .c1-fw{z-index:200}.x .c1-fx > svg circle{animation:blink 2s infinite alternate cubic-bezier(.64,.21,.39,.9);}.x .c1-fy{opacity:0.5}.x .c1-fz{border-color: #999}.x .c1-g0{letter-spacing:0.083em}.x .c1-g1{list-style-type:none}.x .c1-g4{border-color:transparent}.x .c1-g5{width:50px}.x .c1-g6{margin-bottom:4px}.x .c1-g7{right:24px}.x .c1-g8{bottom:24px}.x .c1-g9{z-index:9999}.x .c1-ga{width:65px}.x .c1-gb{height:65px}.x .c1-gd{z-index:10000}.x .c1-ge{transition:all 1s ease-in}.x .c1-gf{box-shadow:0 2px 6px 0px rgba(0,0,0,0.3)}.x .c1-gg{contain:content}.x .c1-gh{bottom:-500px}.x .c1-gp{max-height:300px}.x .c1-gq{color:rgb(41, 32, 30)}.x .c1-gs{word-break:break-word}.x .c1-gt{flex-basis:50%}.x .c1-gu{color:rgb(219, 219, 219)}.x .c1-gv{background-color:rgb(22, 22, 22)}.x .c1-gw:hover{background-color:rgb(0, 0, 0)}.x .c1-gx:nth-child(2){margin-left:24px}

@media (max-width: 767px){.x .c1-q{padding-top:32px}}@media (max-width: 767px){.x .c1-r{padding-bottom:32px}}@media (max-width: 767px){.x .c1-1m{width:100%}}@media (max-width: 767px){.x .c1-1n{display:flex}}@media (max-width: 767px){.x .c1-1o{justify-content:center}}@media (max-width: 767px){.x .c1-3s{margin-left:0px}}@media (max-width: 767px){.x .c1-3t{position:fixed}}@media (max-width: 767px){.x .c1-82{top:50%}}@media (max-width: 767px){.x .c1-83{transform:translateY(-50%)}}@media (max-width: 767px){.x .c1-84{left:8px}}@media (max-width: 767px){.x .c1-9g{flex-direction:column}}@media (max-width: 767px){.x .c1-af > :nth-child(n){margin-bottom:24px}}@media (max-width: 767px){.x .c1-ag  > :last-child{margin-bottom:0 !important}}@media (max-width: 767px){.x .c1-bf > p > ul{margin-left:0px}}@media (max-width: 767px){.x .c1-bg > p > ul{margin-right:0px}}@media (max-width: 767px){.x .c1-bh > p > ul{padding-left:24px}}@media (max-width: 767px){.x .c1-ck{max-width:360px}}@media (max-width: 767px){.x .c1-cl{margin-left:auto}}@media (max-width: 767px){.x .c1-cm{margin-right:auto}}@media (max-width: 767px){.x .c1-d2{margin-top:32px}}@media (max-width: 767px){.x .c1-dn{padding-top:40px}}@media (max-width: 767px){.x .c1-do{padding-bottom:40px}}@media (max-width: 767px){.x .c1-eo{margin-top:24px}}@media (max-width: 767px){.x .c1-eu{order:-1}}@media (max-width: 767px){.x .c1-f5{font-size:12px}}@media (max-width: 767px){.x .c1-f6{left:8px}}@media (max-width: 767px){.x .c1-f7{max-width:90%}}@media (max-width: 767px){.x .c1-g2{padding-top:4px}}@media (max-width: 767px){.x .c1-g3{padding-bottom:4px}}

@media (min-width: 768px){.x .c1-d{font-size:16px}}@media (min-width: 768px){.x .c1-u{margin-bottom:40px}}@media (min-width: 768px){.x .c1-10{width:100%}}@media (min-width: 768px) and (max-width: 1023px){.x .c1-1p{width:100%}}@media (min-width: 768px){.x .c1-2l{font-size:30px}}@media (min-width: 768px){.x .c1-3x{font-size:12px}}@media (min-width: 768px) and (max-width: 1023px){.x .c1-4e{right:0px}}@media (min-width: 768px) and (max-width: 1023px){.x .c1-51 dropdown{right:0px}}@media (min-width: 768px){.x .c1-5x{font-size:14px}}@media (min-width: 768px){.x .c1-7f{font-size:22px}}@media (min-width: 768px) and (max-width: 1023px){.x .c1-85{top:50%}}@media (min-width: 768px) and (max-width: 1023px){.x .c1-86{transform:translateY(-50%)}}@media (min-width: 768px) and (max-width: 1023px){.x .c1-87{left:8px}}@media (min-width: 768px){.x .c1-89{display:flex}}@media (min-width: 768px){.x .c1-8a{flex-direction:row}}@media (min-width: 768px){.x .c1-8b{min-height:unset}}@media (min-width: 768px){.x .c1-8c{min-width:50%}}@media (min-width: 768px){.x .c1-8g{object-fit:cover}}@media (min-width: 768px){.x .c1-8h{min-height:400px}}@media (min-width: 768px){.x .c1-8i{height:auto}}@media (min-width: 768px){.x .c1-8l{min-width:360px}}@media (min-width: 768px){.x .c1-8m{flex-basis:360px}}@media (min-width: 768px){.x .c1-8n{padding-top:40px}}@media (min-width: 768px){.x .c1-8o{padding-right:40px}}@media (min-width: 768px){.x .c1-8p{padding-bottom:40px}}@media (min-width: 768px){.x .c1-8q{padding-left:40px}}@media (min-width: 768px){.x .c1-8u{max-height:80vh}}@media (min-width: 768px){.x .c1-90{font-size:38px}}@media (min-width: 768px){.x .c1-9p{width:auto}}@media (min-width: 768px){.x .c1-9v{margin-top:0}}@media (min-width: 768px){.x .c1-9w{margin-right:-24px}}@media (min-width: 768px){.x .c1-9x{margin-bottom:-48px}}@media (min-width: 768px){.x .c1-9y{margin-left:-24px}}@media (min-width: 768px){.x .c1-a4{padding-top:0}}@media (min-width: 768px){.x .c1-a5{padding-right:24px}}@media (min-width: 768px){.x .c1-a6{padding-bottom:48px}}@media (min-width: 768px){.x .c1-a7{padding-left:24px}}@media (min-width: 768px){.x .c1-a8{margin-bottom:0}}@media (min-width: 768px){.x .c1-a9{flex-basis:50%}}@media (min-width: 768px){.x .c1-aa{max-width:50%}}@media (min-width: 768px){.x .c1-ab{padding-bottom:0}}@media (min-width: 768px){.x .c1-bl{margin-bottom:32px}}@media (min-width: 768px){.x .c1-ch{margin-left:0}}@media (min-width: 768px){.x .c1-ci{margin-right:0}}@media (min-width: 768px){.x .c1-cn{max-width:70%}}@media (min-width: 768px){.x .c1-co{flex-basis:70%}}@media (min-width: 768px){.x .c1-cr{min-width:30%}}@media (min-width: 768px){.x .c1-cs{max-width:none}}@media (min-width: 768px){.x .c1-ct{text-align:right}}@media (min-width: 768px){.x .c1-cu{flex-basis:30%}}@media (min-width: 768px){.x .c1-d5 > div{max-width:100%}}@media (min-width: 768px){.x .c1-ep{margin-left:16px}}@media (min-width: 768px) and (max-width: 1023px){.x .c1-ev{order:-1}}@media (min-width: 768px){.x .c1-fl{margin-right:16px}}@media (min-width: 768px){.x .c1-gi{width:400px}}@media (min-width: 768px){.x .c1-gj{max-height:500px}}@media (min-width: 768px){.x .c1-gk{border-radius:7px}}@media (min-width: 768px){.x .c1-gl{margin-top:24px}}@media (min-width: 768px){.x .c1-gm{margin-right:24px}}@media (min-width: 768px){.x .c1-gn{margin-bottom:24px}}@media (min-width: 768px){.x .c1-go{margin-left:24px}}@media (min-width: 768px){.x .c1-gr{max-height:200px}}

@media (min-width: 1024px){.x .c1-e{font-size:16px}}@media (min-width: 1024px){.x .c1-11{width:984px}}@media (min-width: 1024px){.x .c1-15{display:block}}@media (min-width: 1024px){.x .c1-2m{overflow-wrap:break-word}}@media (min-width: 1024px){.x .c1-2n{font-size:30px}}@media (min-width: 1024px){.x .c1-2z > :first-child{margin-left:24px}}@media (min-width: 1024px){.x .c1-30{justify-content:inherit}}@media (min-width: 1024px){.x .c1-3h{display:initial}}@media (min-width: 1024px){.x .c1-3i{color:rgb(230, 111, 0)}}@media (min-width: 1024px){.x .c1-3j{left:0px}}@media (min-width: 1024px){.x .c1-3k:hover{color:rgb(27, 27, 27)}}@media (min-width: 1024px){.x .c1-3u{color:rgb(218, 105, 0)}}@media (min-width: 1024px){.x .c1-3v:hover{color:rgb(21, 21, 21)}}@media (min-width: 1024px){.x .c1-3y{font-size:12px}}@media (min-width: 1024px) and (max-width: 1279px){.x .c1-4d{right:0px}}@media (min-width: 1024px) and (max-width: 1279px){.x .c1-50 dropdown{right:0px}}@media (min-width: 1024px){.x .c1-5y{font-size:14px}}@media (min-width: 1024px){.x .c1-6g{display:none}}@media (min-width: 1024px){.x .c1-6k > :first-child{margin-left:0px}}@media (min-width: 1024px){.x .c1-7g{min-width:300px}}@media (min-width: 1024px){.x .c1-7h{font-size:22px}}@media (min-width: 1024px){.x .c1-7m{position:relative}}@media (min-width: 1024px){.x .c1-7n{margin-top:0}}@media (min-width: 1024px){.x .c1-7o{margin-right:24px}}@media (min-width: 1024px){.x .c1-7p{margin-bottom:0}}@media (min-width: 1024px){.x .c1-7q{margin-left:7px}}@media (min-width: 1024px){.x .c1-7r{width:100%}}@media (min-width: 1024px){.x .c1-8r{max-width:100%}}@media (min-width: 1024px){.x .c1-8s{min-width:388px}}@media (min-width: 1024px){.x .c1-8t{flex-basis:388px}}@media (min-width: 1024px){.x .c1-91{font-size:38px}}@media (min-width: 1024px){.x .c1-9o:hover{box-shadow:0 10px 10px -10px rgba(0, 0, 0, 0.5)}}@media (min-width: 1024px){.x .c1-c4{padding-top:8px}}@media (min-width: 1024px){.x .c1-c5{padding-bottom:8px}}@media (min-width: 1024px){.x .c1-c6{padding-left:4px}}@media (min-width: 1024px){.x .c1-c7{padding-right:4px}}@media (min-width: 1024px){.x .c1-cd{flex-basis:100%}}@media (min-width: 1024px){.x .c1-cw{flex-basis:33.33333333333333%}}@media (min-width: 1024px){.x .c1-cx{max-width:33.33333333333333%}}@media (min-width: 1024px){.x .c1-d6 > div{max-width:984px}}@media (min-width: 1024px){.x .c1-da{flex-wrap:nowrap}}@media (min-width: 1024px){.x .c1-db{flex-direction:row}}@media (min-width: 1024px){.x .c1-dc{overflow-y:hidden}}@media (min-width: 1024px){.x .c1-dd{min-height:0px}}@media (min-width: 1024px){.x .c1-df:only-child{flex-basis:100%}}@media (min-width: 1024px){.x .c1-dg:only-child{max-width:100%}}@media (min-width: 1024px){.x .c1-dh:only-child > *{max-width:100%}}@media (min-width: 1024px){.x .c1-di{flex-basis:50%}}@media (min-width: 1024px){.x .c1-dj{max-width:50%}}@media (min-width: 1024px){.x .c1-dk{justify-content:center}}@media (min-width: 1024px){.x .c1-dl > *{max-width:70%}}@media (min-width: 1024px){.x .c1-dp{padding-left:40px}}@media (min-width: 1024px){.x .c1-dq{padding-right:40px}}@media (min-width: 1024px){.x .c1-dr{margin-right:auto}}@media (min-width: 1024px){.x .c1-ds{margin-left:auto}}@media (min-width: 1024px){.x .c1-dt{text-align:inherit}}@media (min-width: 1024px){.x .c1-dw{position:static}}@media (min-width: 1024px){.x .c1-ew > *{max-width:100%}}@media (min-width: 1024px){.x .c1-ex > *{width:100%}}@media (min-width: 1024px){.x .c1-fm{width:48px}}@media (min-width: 1024px){.x .c1-fn{height:48px}}@media (min-width: 1024px){.x .c1-fo{margin-left:24px}}@media (min-width: 1024px){.x .c1-fp{padding-top:0px}}@media (min-width: 1024px){.x .c1-fq{padding-right:0px}}@media (min-width: 1024px){.x .c1-fr{padding-bottom:0px}}@media (min-width: 1024px){.x .c1-fs{padding-left:0px}}@media (min-width: 1024px){.x .c1-gc{z-index:9999}}

@media (min-width: 1280px){.x .c1-f{font-size:16px}}@media (min-width: 1280px){.x .c1-12{width:1160px}}@media (min-width: 1280px){.x .c1-2o{font-size:32px}}@media (min-width: 1280px){.x .c1-3z{font-size:12px}}@media (min-width: 1280px){.x .c1-5z{font-size:14px}}@media (min-width: 1280px){.x .c1-7i{font-size:22px}}@media (min-width: 1280px){.x .c1-92{font-size:44px}}@media (min-width: 1280px){.x .c1-d7 > div{max-width:1160px}}

@media (min-width: 1536px){.x .c1-g{font-size:18px}}@media (min-width: 1536px){.x .c1-13{width:1280px}}@media (min-width: 1536px){.x .c1-2p{font-size:36px}}@media (min-width: 1536px){.x .c1-40{font-size:14px}}@media (min-width: 1536px){.x .c1-60{font-size:16px}}@media (min-width: 1536px){.x .c1-7j{font-size:24px}}@media (min-width: 1536px){.x .c1-93{font-size:48px}}@media (min-width: 1536px){.x .c1-d8 > div{max-width:1280px}}

@keyframes opacity-bounce { 
      0% {opacity: 0;transform: translateY(100%); } 
      60% { transform: translateY(-20%); } 
      100% { opacity: 1; transform: translateY(0); }
    }

.gd-ad-flex-parent {
          animation-name: opacity-bounce; 
          animation-duration: 800ms; 
          animation-delay: 400ms; 
          animation-fill-mode: forwards; 
          animation-timing-function: ease; 
          opacity: 0;
}

.carousel {
  text-align: center;
  position: relative;
  opacity: 0;
  margin: 0 auto;
  transition: opacity 0.5s;
}
.carousel .carousel-container-inner {
  margin: 0 auto;
  position: relative;
}
.carousel .carousel-viewport {
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}
.carousel .carousel-arrow-default {
  border: 3px solid !important;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.9);
  height: 32px;
  width: 32px;
  font-weight: 900;
  background: rgba(0, 0, 0, 0.15);
}
.carousel .carousel-arrow {
  position: absolute;
  z-index: 1;
  bottom: 23px;
  padding: 0;
  cursor: pointer;
  border: none;
}
.carousel .carousel-arrow:focus {
  outline: none;
}
.carousel .carousel-arrow:before {
  font-size: 19px;
  display: block;
  margin-top: -2px;
}
.carousel .carousel-arrow:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.carousel .carousel-left-arrow {
  left: 23px;
}
.carousel .carousel-right-arrow {
  right: 23px;
}
.carousel .carousel-left-arrow.carousel-arrow-default:before {
  content: '<';
  padding-right: 2px;
}
.carousel .carousel-right-arrow.carousel-arrow-default:before {
  content: '>';
  padding-left: 2px;
}
.carousel .carousel-top-arrow {
  top: 75px;
}
.carousel .carousel-bottom-arrow {
  bottom: 75px;
}
.carousel .carousel-top-arrow.carousel-arrow-default:before {
  content: '\1431';
  padding-bottom: 2px;
}
.carousel .carousel-bottom-arrow.carousel-arrow-default:before {
  content: '\142F';
  padding-top: 2px;
}
.carousel .carousel-track {
  list-style: none;
  padding: 0;
  margin: 0;
  touch-action: pan-y pinch-zoom;
}
.carousel .carousel-track .carousel-slide {
  display: inline-block;
  opacity: 0.7;
  transition: opacity 0.5s ease-in-out;
}
.carousel .carousel-track .carousel-slide > * {
  display: block;
  white-space: normal;
}
.carousel .carousel-track .carousel-slide.carousel-slide-loading {
  background: rgba(204, 204, 204, 0.7);
}
.carousel .carousel-track .carousel-slide.carousel-slide-fade {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.carousel .carousel-track .carousel-slide.carousel-slide-selected {
  opacity: 1;
  z-index: 1;
}
.carousel.loaded {
  opacity: 1;
}
.carousel .carousel-dots {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  text-align: center;
}
.carousel .carousel-dots li {
  display: inline-block;
}
.carousel .carousel-dots button {
  border: 0;
  background: transparent;
  font-size: 1.1em;
  cursor: pointer;
  color: #CCC;
  padding-left: 6px;
  padding-right: 6px;
}
.carousel .carousel-dots button.selected {
  color: black;
}
.carousel .carousel-dots button:focus {
  outline: none;
}
[dir="rtl"] .carousel .carousel-viewport {
  text-align: right;
}
[dir="rtl"] .carousel .carousel-left-arrow {
  left: unset;
  right: 23px;
}
[dir="rtl"] .carousel .carousel-right-arrow {
  right: unset;
  left: 23px;
}
[dir="rtl"] .carousel .carousel-left-arrow.carousel-arrow-default:before {
  padding-left: 2px;
  padding-right: unset;
}
[dir="rtl"] .carousel .carousel-right-arrow.carousel-arrow-default:before {
  padding-right: 2px;
  padding-left: unset;
}

.grecaptcha-badge { visibility: hidden; }

@keyframes blink { 0%, 100% { opacity: 0; } 50% { opacity: 1; }}

.page-inner { background-color: rgb(255, 255, 255); min-height: 100vh; }